* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;

}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

ul {
    list-style: none;
}

.mt-20 {
    margin-top: 20px;
}

.mt-80 {
    margin-top: 80px;
}